body{
    background:#dedede;
    font-family: Arial;
    margin: 0;
    padding: 0;
}
#first{
    font-family: cursive;
    font-size: 1.2rem;
}

.dropdown{
    margin: 0 auto;
}
nav{
    height: 100px;
    background: #2c3e50;
    box-shadow: 0 10px 15px rgba(0,0,0, 0.1);

    
}
.logo{
    padding:5px 0 0 50px ;
    width: 140px;
    height: auto;
}
nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;

}
nav ul li{
    background: #2c3e50;
    position: relative;
    list-style: none;
    display: inline-block;


}
nav ul li a{
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;



}

nav ul li a:hover{
    background:#243342 ;

}
nav ul ul {
    position:absolute;
    top: 60px;
     display: none;
    
}
nav ul li:hover >ul{
    display: block;
}
nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}
.body{
    padding: 0 20px;

}
.body img{
    width: 100%;
    max-width: 2000px;
    margin: 20px 0;
}
.body p{
    text-align: justify;
}
.textImage{
    position: absolute;
    top: 350px;
    left: 200px;


}
h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    color: whitesmoke;
}
h3{
    font-family: 'Dancing Script', cursive;
    color: whitesmoke;

}
.Image{
    width: 600px;
    height: 400px;
    margin: 50px 60px 30px 16px;
    float: left;
}
.secondText{
    
    display: inline;
    padding-left: 100px;
    padding-top: 200px;
  
    

}
.secondText p{
    padding-top: 180px;
    padding-left: 50px;
    font-size: 2rem;
    font-family: cursive;
}